---
http_interactions:
- request:
    method: get
    uri: https://www.familysearch.org/service/home/discovery/api/v1/quick-search/search/surname?q.surname=Fernandez
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cdn:
      - Imperva
      x-iinfo:
      - 4-11781005-11780717 PNYN RT(1710093787072 30) q(0 0 0 -1) r(1 1) U24
    body:
      encoding: UTF-8
      string: '{"criteria":{"q.surname":"Fernandez"},"surname":{"error":false,"countries":[{"name":"Spain","code":"ESP","count":155455},{"name":"Mexico","code":"MEX","count":47342},{"name":"Argentina","code":"ARG","count":36607}],"count":656159,"htmlDefinition":"<p>Some characteristic forenames:  Spanish Jose, Manuel, Juan, Carlos, Luis, Jorge, Miguel, Fernando, Mario, Jesus, Pedro, Francisco.  Portuguese Ligia, Joao, Armanda, Godofredo, Wenceslao.</p><p>Spanish (<b>Fernández</b>): patronymic from the personal name   Fernando  . The surname (and to a lesser extent the variant   Hernandez  ) has also been established in southern Italy, mainly in Naples and Palermo, since the period of Spanish dominance there.</p><p>Jewish (Sephardic): adoption of the name in 1 above at the moment of conversion to Roman Catholicism. After the return to Judaism (generations later), some Jewish descendants retained the surname that their families had adopted as Roman Catholics.</p>","attribution":"Dictionary of American Family Names © Patrick Hanks 2003, 2006.","attributionURL":"https://www.oxfordhandbooks.com/view/10.1093/oxfordhb/9780199656431.001.0001/oxfordhb-9780199656431-e-9","variants":["Fernando"]}}'
  recorded_at: Sun, 10 Mar 2024 18:03:07 GMT
recorded_with: VCR 6.1.0
