---
http_interactions:
- request:
    method: get
    uri: https://www.familysearch.org/service/home/discovery/api/v1/quick-search/search/surname?q.surname=dummy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cdn:
      - Imperva
      x-iinfo:
      - 4-11781005-11780717 PNYN RT(1710093787072 30) q(0 0 0 -1) r(1 1) U24
    body:
      encoding: UTF-8
      string: '{"incidentId":"1776000100070060372-14726201728828075","hostName":"www.familysearch.org","errorCode":"12","description":"","timeUtc":"2024-03-10
        18:06:05 UTC","clientIp":"666.666.666.666","proxyId":"1776-100","proxyIp":"666.666.666.666"}'
  recorded_at: Sun, 10 Mar 2024 18:03:07 GMT
- request:
    method: get
    uri: https://www.familysearch.org/service/home/discovery/api/v1/quick-search/search/surname?q.surname=dummy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cdn:
      - Imperva
      x-iinfo:
      - 5-13212700-13212701 NNYY CT(0 2 0) RT(1710095188722 25) q(0 0 0 -1) r(2 2)
        U24
    body:
      encoding: UTF-8
      string: '{"incidentId":"1776000100070060372-14726201728828075","hostName":"www.familysearch.org","errorCode":"12","description":"","timeUtc":"2024-03-10
        18:06:05 UTC","clientIp":"666.666.666.666","proxyId":"1776-100","proxyIp":"666.666.666.666"}'
  recorded_at: Sun, 10 Mar 2024 18:26:28 GMT
recorded_with: VCR 6.1.0
